.music-list {
  padding: 10px;
  width: 60%;
}

.music-item {
  align-items: center;
  background-color: #0f0e17;
  border-radius: 20px;
  color: white;
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  transition: transform 0.3s ease;
  width: 80%;
}

.music-item:hover {
  transform: translateX(10px);
}

.music-item span {
  flex-basis: 200px;
  flex-grow: 1;
}

.music-audio {
  flex-basis: 200px;
  height: 30px;
  margin-right: 10px;
}

.label-favorite {
  cursor: pointer;
  flex-basis: 30px;
  padding: 5px;
  position: relative;
}

.label-favorite input {
  opacity: 0;
}

.heart-icon {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.empty {
  background-image: url('../../images/empty_heart.png');
}

.filled {
  background-image: url('../../images/checked_heart.png');
}

audio::-webkit-media-controls-panel {
  background-color: #94a1b2;
}
