.login-container {
  background-color: #0f0e17;
  border-radius: 20px;
  box-shadow: 0 4px 10px hsla(255, 83%, 65%, 0.5);
  left: 50%;
  margin: auto;
  padding: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 300px;
  padding: 10px;
}

.form-input {
  background-color: #242629;
  border: 3px solid white;
  border-color: #0f0e17;
  border-radius: 8px;
  color: #fffffe;
  font-weight: 700;
  line-height: 49px;
  margin: 5px;
  outline: none;
  padding-left: 20px;
}

.form-button {
  background-color: #7f5af0;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  height: 50px;
  padding: 9px;
}

.form-login .form-button {
  margin-top: 20px;
  width: 200px;
}

.form-button:enabled {
  color: #fffffe;
}
