.header-container {
  align-items: center;
  background: linear-gradient(to top, #242629, #16161a);
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 20px;
}

.header-logo {
  width: fit-content;
}

.header-nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 35%;
}

.header-link {
  color: #fffffe;
  flex-basis: 100px;
  text-decoration: none;
}

.header-username {
  background-color: #7f5af0;
  border-radius: 15px;
  margin-right: 50px;
  padding: 10px;
}
