.header-container {
  align-items: center;
  background: linear-gradient(to top, #242629, #16161a);
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 20px;
}

.header-logo {
  width: fit-content;
}

.header-nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 35%;
}

.header-link {
  color: #fffffe;
  margin: 0 10px;
  opacity: 0.5;
  position: relative;
  text-decoration: none;

  &:before {
    background-color: #fffffe;
    content: '';
    height: 1px;
    left: 50%;
    position: absolute;
    top: calc(50% + 1em);
    transition: all 0.4s ease;
    width: 0%;
  }

  &:hover {

    &:before {
      left: 25%;
      width: 50%;
    }
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
  }
}

.header-username {
  background-color: #7f5af0;
  border-radius: 15px;
  color: white;
  margin-right: 50px;
  padding: 10px;
}

.header-user-link {
  text-decoration: none;
}
